html
	head
		link(rel='stylesheet' href='./style.css?version=1.2')
		script(type='text/javascript' src='./script.js?version=1.2')
		title= 'blue moon fund'
	body
		.logo
			.icon
			.text
		.moonset
			main
				.text
					.max
						.inner
							h2 Our moon has set.
							p
								| blue moon fund pursued a sunset strategy to demonstrate that foundations should invest not only with integrity but to build vibrancy, financial sustainability and resilience in the world’s ecosystems. The strategy integrated three principles:
							p &bull; A magnification of the power to address this generation’s pressing societal, environmental and equitable challenges with financial assets made by the previous generations.
							p &bull; An implementation through our partners to diversify, leverage and&mdash;when possible&mdash;make self-sustaining their organizations and the solutions they advance.
							p &bull; A model of “investment” that breaks down the barriers between investment portfolio and grantmaking while freeing stewards&mdash;whether family, board or staff&mdash;from the conflict of interest between impact and perpetuity.

							p
								| We are proud to announce that we have completed our sunset strategy and are no longer a grantmaking organization. Nothing has made this journey more rewarding than the people and communities we have been able to work with, and whenever possible support. Thank you for your inspiration, leadership, and partnership in advancing positive social change for people, communities, the environment and our world!
							p
								| There is still an immense amount of work to be done by future generations and their assets be they financial or intellectual.  Our program priorities will be taken forward by leveraged multi-donor/investor collaborations&mdash;to learn more please explore the links below.
							p
								| Active grantees may file outstanding reports on our 
								a(href='https://www.grantrequest.com/SID_623/Default.asp?SA=&FID=&SESID=50180&RL=' target='_blank')='grants management portal'
								| .

				.logos
					.max
						.inner
							-images = ['aaf.png','cgcf.png','fla.png','gei.png','jtf.png','mm.png','scef.png','wcs.png','reep.png','n.png']
							-links = ['https://www.andesamazonfund.org','http://www.thjj.org/en/','http://www.foundationforlouisiana.org','http://www.geichina.org/index.php?controller=Default&action=Index','http://www.justtransitionfund.org','http://www.mosaicomanagement.com','http://www.scefund.org/EN/Home/','https://www.wcs.org']

							-for(var i = 0; i < images.length; i++)
								a(href=links[i] target='_blank')
									.image(style='background-image:url(imgs/'+images[i]+')')