$blue: #457aff;
@font-face {
	font-family: 'Circular Pro';
	src: url('fonts/CircularPro-Bold.eot');
	src: url('fonts/CircularPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/CircularPro-Bold.woff') format('woff'),
		url('fonts/CircularPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Book';
	src: url('fonts/CircularStd-Book.eot');
	src: url('fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/CircularStd-Book.woff') format('woff'),
		url('fonts/CircularStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
	background-color: white;
	color: white;
	.logo {
		width: 50px;
		position: fixed;
		right: 35px;
		top: 30px;
		z-index: 500;
		.icon {
			width: 50px;
			height: 50px;
			background: {
				image: url(imgs/logo_icon.png);
				position: center;
				repeat: no-repeat;
				size: 50px;
			}
		}
		.text {
			width: 50px;
			height: 38px;
			margin-top: 5px;
			background: {
				image: url(imgs/logo_text.png);
				position: center;
				repeat: no-repeat;
				size: 50px;
			}
		}
	}
	.moonset {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		overflow-y: auto;
		z-index: 400;
		background: {
			image: url(imgs/moonset.jpg);
			size: cover;
			position: center;
			repeat: no-repeat;
		}
		.text, .logos {
			width: calc(100% - 120px);
			display: table;
			.max {
				max-width: 68em;
			}
			.inner {
				width: 55%;
			}
		}
		.text {
			margin: 140px 60px 60px 60px;
			h2 {
				width: 100%;
				font-weight: normal;
		    font-size: 50px;
		    line-height: 62px;
				margin: 0 0 30px 0;
				font-family: 'Circular Pro';
			}
			p {
		    // font-size: 27px;
		    // line-height: 33px;
		    font-size: 25px;
		    line-height: 31px;
		    font-weight: normal;
		    margin: 0 0 1em 0;
		    font-family: 'Circular Book';
		    &:last-of-type {
		    	margin: 0;
		    }
			}
			a {
				color: white;
				border-bottom: 2px solid;
				text-decoration: none;
			}
		}
		.logos {
			padding: 60px;
			background-color: white;
			.image {
				width: 120px;
				height: 120px;
				float: left;
				// background: white;
				margin: 0 1em 1em 0;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 90%;
			}
		}
	}
	img {
		width: 100%;
	}
	// .space {
	// 	width: 100%;
	// 	height: 100vh;
	// }
	// &.mask {
	// 	background: white;
	// 	.home {
	// 		position: relative;
	// 		.image {
	// 			width: 100%;
	// 			height: 100%;
	// 			position: absolute;
	// 			left: 0;
	// 			top: 0;
	// 			background-size: cover;
	// 			background-position: top left;
	// 			&:hover {
	// 				cursor: pointer;
	// 			}
	// 			&.front {
	// 				z-index: 200;
	// 				background-image: url(imgs/home.png);
	// 			}
	// 			// &.back {
	// 			// 	z-index: 100;
	// 			// 	background-image: url(imgs/home1.png);
	// 			// }
	// 		}
	// 		.blue {
	// 			width: 100%;
	// 			height: 100%;
	// 			position: absolute;
	// 			left: 0;
	// 			top: 0;
	// 			background-color: white;
	// 			opacity: .5;
	// 			z-index: 300;
	// 		}
	// 	}
	// 	.moonset {
	// 		.text, .logos {
	// 			color: white;
	// 		}
	// 		.text {
	// 			background: $blue;
	// 			a {
	// 				border-bottom-color: white;
	// 				color: white;
	// 			}
	// 		}
	// 		.logos {
	// 			// background: $blue;
	// 			background: white;
	// 		}
	// 	}
	// }
	@media screen and (max-width: 47.5em) {
		.moonset {
			.text, .logos {
				width: 100%;
		    .inner {
		    	width: 90%;
		    	margin: auto;
		    }
	    }
	    .text {
	    	margin: 150px auto 60px auto;
	    }
	    .logos {
	    	padding: 60px 0;
	    }
			.text .inner {
				h2 {
			    font-size: 35px;
			    width: 100%;
			    line-height: 45px;
			  }
			  p {
			  	width: 100%;
			  	font-size: 14px;
			    line-height: 18px;
			  }
		  }
		}
	}
	@media screen and (max-width: 75em) {
		.moonset .text p {
			font-size: 20px;
	    line-height: 25px;
		}
	}
}